.App {
  font-family: sans-serif;
  text-align: center;
}

table {
  border-spacing: 0px 2px;
}

th {
  color: black;
  text-decoration: underline;
}

td {
  padding: 5px;
}

.column1 {
  color: red;
}

div {
  display: flex;
}
#traits {
  background-color: lightgray;
}
